server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id-on-route: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**, /auth
        - id: message-service
          uri: lb://message-service
          predicates:
            - Path=/messages/**

  # Spring Security OAuth2 Resource Server Configuration for JWT
  security:
    oauth2:
      resourceserver:
        jwt:
          # Configure the JWK Set URI where the public keys are exposed by the JWT issuer
          jwk-set-uri: http://localhost:8081/oauth2/jwks