eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: history-service
  kafka:
    bootstrap-servers: localhost:9092
  cloud:
    function:
      definition: postEnrichRequestEventConsumer;postNotificationEventConsumer
      bindings:
        postEnrichRequestEventConsumer-in-0:
          content-type: application/json
        postNotificationEventConsumer-in-0:
          content-type: application/json

    stream:
      bindings:
        # 1) Handles the list-of-posts enrichment replies
        postEnrichRequestEventConsumer-in-0:
          destination: posts-enrichment-response


        # 2) Listens for single-post notifications
        postNotificationEventConsumer-in-0:
          destination: post-view-notification



        # 3) Outbound for your StreamBridge
        historyEventSender-out-0:
          destination: posts-enrichment-request


  datasource:
    url: jdbc:mysql://localhost:3306/bfsforum
    driver: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 0


bfs-forum:
  kafka:
    request-binding-name: historyEventSender-out-0