spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/bfsforum
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: H7z0j41996

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  cloud:
    stream:
      function:
        definition: emailVerificationReplyConsumer, userInfoReplyConsumer
      bindings:
        userRegister-out-0:
          # register-notification: sent after user registration
          destination: register-notification
        tokenVerify-out-0:
          # verification-request: token verification request
          destination: verification-request
        emailVerificationReplyConsumer-in-0:
          # verification-response: reply from email service after token validation
          destination: verification-response

        userInfoRequest-in-0:
          # user-info-request: other service asks for username by userId
          destination: user-info-request

        userInfoReplyConsumer-out-0:
          # user-info-response: userService replies with username
          destination: user-info-response
  kafka:
    bootstrap-servers: localhost:9092

bfs-forum:
  kafka:
    user-register-binding-name: userRegister-out-0
    token-verify-binding-name: tokenVerify-out-0
    user-info-reply-binding-name: userInfoReply-out-0

eureka:
  client:
    enabled: false

